
:host {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

:host > * {
  margin: 10px 0;
}

.sort {
  flex: 0 0 auto;
  // width: 50%;
}

.btn-filter {
  display: flex;
  align-items: flex-start;
  flex: 1 0 auto;
  margin-left: 10px;
}

.filter{
  flex: 0 0 auto;
  width: 100%;
}
