@import './variables';



.mat-card {
  background-color: $accent-color;
  color: white;
  height: 100%;
  max-height: 600px;
  max-width: 400px;
  width: 100%;
  margin: auto;
}

.bookmark {
  position: absolute;
  right: 0;
  top: 0;
  .mat-icon {
    font-size: 40px;
    margin-right: 10px;
    font-weight: 100;
  }
}

img {
  cursor: pointer;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.mat-card-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
