<h1 mat-dialog-title>Search Character</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="searchForm">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Search Character</mat-label>
      <input
        type="search"
        formControlName="byName"
        matInput
        placeholder="Ex. Spider-Man"
      />
    </mat-form-field>

    <!-- <mat-accordion class="headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Filter Character by Comic </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field>
          <mat-label>Comic</mat-label>
          <input matInput type="search" formControlName="byComic" />
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Filter Character by Stories </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field>
          <mat-label>Story</mat-label>
          <input matInput type="search" formControlName="bySeach" />
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion> -->
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button type="submit" mat-button (ngSubmit)="onSubmit()">
      <mat-icon>search</mat-icon> Search
    </button>
  </div>
</form>
