<h1 mat-dialog-title>Search Character</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="searchForm">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Search Character</mat-label>
      <input
        type="search"
        formControlName="byName"
        matInput
        placeholder="Ex. Spider-Man"
      />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button type="submit" mat-button (ngSubmit)="onSubmit()">
      <mat-icon>search</mat-icon> Search
    </button>
  </div>
</form>
