$marvel-big-stone: (
  50: #e4e6e8,
  100: #bac2c5,
  200: #8d999f,
  300: #5f7078,
  400: #3c515b,
  500: #1a323e,
  600: #172d38,
  700: #132630,
  800: #0f1f28,
  900: #08131b,
  A100: #5bb3ff,
  A200: #289cff,
  A400: #0083f4,
  A700: #0076da,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$marvel-alizarin: (
  50: #fde4e5,
  100: #f9bbbd,
  200: #f68e92,
  300: #f26166,
  400: #ef3f45,
  500: #ec1d24,
  600: #ea1a20,
  700: #e7151b,
  800: #e41116,
  900: #df0a0d,
  A100: #ffffff,
  A200: #ffd5d6,
  A400: #ffa2a3,
  A700: #ff898a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$marvel-Matisse: (
  50: #e4eef3,
  100: #bbd5e2,
  200: #8db9cf,
  300: #5f9cbc,
  400: #3d87ad,
  500: #1b729f,
  600: #186a97,
  700: #145f8d,
  800: #105583,
  900: #084272,
  A100: #a2d0ff,
  A200: #6fb6ff,
  A400: #3c9dff,
  A700: #2390ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);
