<div class="container-comic" *ngIf="comic">
  <mat-card>
    <img
      mat-card-image
      [appThumbnailSize]="size"
      [srcThumbnail]="comic.thumbnail.path"
      class="img-hero"
      src-fallback="assets/marvel-default.jpg"
    />

    <mat-card-header>
      <button
        [color]="iconBookmarkState"
        mat-icon-button
        class="bookmark"
        (click)="addRemoveBookmark()"
      >
        <mat-icon *ngIf="!bookmark">turned_in_not</mat-icon>
        <mat-icon *ngIf="bookmark">turned_in</mat-icon>
      </button>
      <mat-card-title>{{ comic.title }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="description">
        <p>{{ comic.description }}</p>
      </div>
      <div class="character-list" *ngIf="comic.characters.items.length > 0">
        <h3 class="sub-title">Characters</h3>
        <mat-list>
          <mat-list-item *ngFor="let character of comic.characters.items">{{
            character.name
          }}</mat-list-item>
        </mat-list>
      </div>
      <div class="creators-list" *ngIf="comic.creators.items.length > 0">
        <h3 class="sub-title">Creators</h3>
        <mat-list>
          <mat-list-item *ngFor="let creator of comic.creators.items">{{
            creator.name
          }}</mat-list-item>
        </mat-list>
      </div>
      <div class="creators-list" *ngIf="comic.stories.items.length > 0">
        <h3 class="sub-title">Stories</h3>
        <mat-list>
          <mat-list-item *ngFor="let story of comic.stories.items">{{
            story.name
          }}</mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
  </mat-card>
</div>
