@import './variables.scss';
@import '~@angular/material/theming';

.sidenav {
  width: 200px;
  padding: 0 10px;
}

.mat-sidenav-content {
  height: 100vh;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.active,
.active:hover,
.active:focus {
  background-color: $warn-color;
  color: white;
  @include mat-elevation(5);
}

.menu-option {
  border-radius: 3px;
  margin: 10px 0;
}

.icon {
  margin-right: 20px;
}

.title-toolbar span {
  display: block;
  margin: auto;
}

.content {
  padding: 20px;
  position: relative;
}

.search {
  color: white;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

@media (max-width: 599px) {
  .mat-toolbar-single-row {
    height: 64px;
  }
}
