.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 10px;
}

.btn-order {
  margin: 10px 0;

}

.button-toUp {
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0.5;
  transition: opacity 300ms ease;

  &:hover {
    opacity: 1;
  }
}
