.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 10px;
  overflow: auto;
  height: 100%;
  margin: 5px;
}

.example-viewport {
  min-height: 700px;
  height: 100%;
  width: 100%;
}

.example-item {
  height: 500px;
}

.cdk-virtual-scroll-content-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 10px;
}
// .container {
//   overflow: auto;
//   height: 100%;
// }
