<div class="filter-character">
  <div class="btn">
    <button mat-raised-button color="accent" (click)="sort()">
      Order <fa-icon [icon]="icon"></fa-icon>
    </button>
    <button
      mat-raised-button
      [color]="onButtonSearchState.color"
      (click)="onSearchToggle()"
    >
      Filter <mat-icon>{{ onButtonSearchState.icon }}</mat-icon>
    </button>
  </div>
  <app-filter-character @filter *ngIf="searchActivated"></app-filter-character>
</div>

<div class="grid-container" #container [@list]="(characters | async)?.length">
  <app-card-item
    *ngFor="let characterItem of characters | async"
    [element]="characterItem"
  ></app-card-item>
</div>
<app-scroll-to-top [elementRef]="containerRef"></app-scroll-to-top>
