/* You can add global styles to this file, and also import other style files */
@import './variables';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}


// ::-webkit-scrollbar {
//   width: 15px;
// }
// ::-webkit-scrollbar-thumb {
//   background-image: linear-gradient(45deg, #00aeff, #a68eff);
//   border-radius: 10px;
//   box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px;
// }

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285f4;
}

.snackbar-error {
  background-color: $primary-color;
  color: white;
}

.tooltip {
  font-size: 15px;
}

